<%= render 'shared/content_title', title: 'All categories' %>
<% @categories.each do |category| %>
<div class="row">
  <div class='span8 well'>
    <p>
    
    <h4><%= category.name%></h4>
   
    
    </p>
  </div>
</div>
<% end %>